<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BetML, the sports betting AI.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static//dist/output.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static/public/icons/fav.png">
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script>
            var o_options = {
              domain: 'betml.outseta.com'
            };
          </script>
          <script src="https://cdn.outseta.com/outseta.min.js" data-options="o_options"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    </head>
    <body class="px-4 md:px-12 lg:px-20 py-12">

        <header>
            <div class="flex flex-row">
                <button class="text-sun" onclick="return toggleNav()" type='button' id="toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path id="ham" stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h8m-8 6h16"/>
                    </svg>
                </button>
    
                <nav id='nav' class="fixed -left-full transition-all cursor-pointer">
                    <ul class="font-sec text-lg flex gap-x-10">
                        <li>
                            <u class="text-sun"><a href="/">Home</a></u>
                        </li>
                        <li>
                            <u><a href="https://betml.outseta.com/auth?widgetMode=login#o-anonymous
                                ">Login</a></u>
                        </li>
                        <li>
                            <u><a href="/about">How it works?</a></u>
                        </li>
                    </ul>
                </nav>
            </div>
        
            
        </header>

        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        

        

        <footer class="text-xs text-accent fixed bottom-10 md:bottom-5">
            Created by <u>Bennett Cohen</u> at the University of California, Berkeley.
        </footer>


        <script src="/static/src/js/nav.js"></script>
        <script src="/static/src/js/plot.js"></script>
    </body>
</html>